*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: gray;
}

.container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    width: 100%;
    height: 100%;
}

.libro {
    margin: 2em;
    width: 100px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.libroimg {
    width: 50px;
    height: 50px;
}

.img {
    width: 80px;
    height: 80px;
}

.titulo {
    border: 1px solid;
    transition: 0.2s ease;
}


.popup {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 20em;
    width: 20em;

}

.popup:target {
    display: block;
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 8px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.garriga {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.dropbtn {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

.dropbtn:hover {
    background-color: #111;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    background-color: #333;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #111;
}

.show {
    display: block;
}



.modal {
    display: none;

    position: fixed;

    z-index: 1;

    padding-top: 100px;

    left: 0;
    top: 0;
    width: 100%;

    height: 100%;

    overflow: auto;

    background-color: rgb(0, 0, 0);

    background-color: rgba(0, 0, 0, 0.4);

}


.modal-content {
    position: relative;
    background-color: lightgray;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}


@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}


.modal-header {
    padding: 2px 16px;
    background-color: tomato;
    color: black;
}

.modal-body {
    padding: 2px 16px;
}


input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    color: white;
}

input[type=submit] {
    background-color: blue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: darkblue;
}

.container {
    border-radius: 5px;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

.col-25,
.col-75,
input[type=submit] {
    width: 100%;
    margin-top: 6px;
}



@media only screen and (min-width: 768px) {
    .garriga {
        width: 70%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 1200px) {
    .garriga {
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}